#name,
#image,
#age,
#price,
#description {
    border-radius: 5px;
    
}


.form-container {
    position: relative; /* Required for positioning the pseudo-element */
    display: inline-block; /* Shrink to fit content */
    color: rgb(255, 255, 255);
    font-weight: 500;
    border: 1px solid white;
    padding: 70px;
    border-radius: 8px;
    overflow: hidden; /* Ensure the pseudo-element doesn't overflow */
    z-index: 1;
}

.form-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://st2.depositphotos.com/2538523/6871/v/950/depositphotos_68715711-stock-illustration-colorful-kids-on-the-notebook.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.3; /* Adjust the opacity as needed */
    z-index: -1; /* Ensure the pseudo-element is behind the content */
    border-radius: 8px; /* Match the border-radius of the container */
}

.my-inputs {
    width: 100%; /* Full width */
    padding: 10px; /* Padding for better spacing */
    margin: 10px 0; /* Margin for spacing between inputs */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    border-radius: 4px; /* Rounded corners */
    border: 1px solid #ccc; /* Border color */
}




